
<p>Start the battle</p>

<h2>PLAYER 1</h2>
<pre><%= @board %></pre>

  <form method='POST'>

    <label>Shoot at</label>

      <select name='x_coord'>
        <option value="A">A</options>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="G">G</option>
        <option value="H">H</option>
        <option value="I">I</option>
        <option value="J">J</option>
      </select>
      <select name='y_coord'>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <form action="POST">
        <input type="submit" value="Shoot">
      </form>

    <h2>PLAYER 2</h2>
    <pre><%= @board2 %></pre>


  </form>

