<div>
  <pre class><%= @board %></pre>
  <p>Time to place your ships.</p>
  <p>Choose co-ordinates!</p>
<form action="/placeship" method="POST">
  <input name="co
  ord" type="text">
  <input type="submit" value="Place ship">
</form>



</div>
